
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
    border-radius: 3.4em;
    border-top-color: #e8e8e8;
    border: 3px solid #0adb5a;
    padding: 10px 5px;
}
header{
    width: 100%;
    background-color: #622599
}
body{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #bd8ce9;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fira Sans', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    text-transform: uppercase;
  
}
 h2{
    font-size: 40px;
    line-height: 1.25;
    font-weight: normal; /*tipo de fuente  */
    /* font-style: italic; */
    letter-spacing: -0.5px;
     /* margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 1.5rem;
     margin-left: 0px; */
     padding: 30px;
     padding-bottom: 0px;
     text-align: center
 }
p{
    text-align: justify;
    padding: 30px;
}

.cabecera{
    line-height: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
}
.w-btn-wrapper.align_left {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
}

.bienvenido-detalle-botones{
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
    text-decoration: none;
    color: #333333!important;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 0.3em;
    padding: 0.8em 1.8em;
    background-color: #e8e8e8;
    border-color: transparent;
}

#scoutDelPeru {
    
    color: black;
    padding: 10px;
    text-align: center;
  }
  #imagenCentro{
    margin:10px auto;
    display:flex;
    
    max-width: none;
    height: 460px;
    width: auto;
   
  }

  #botones {
    display: flex;
    justify-content: center
  }
 
 /*primer bloque */
 .bloque-izq{
    margin:0px auto;
    display: flex;
    flex-flow: row wrap;
    border:  1px solid #622599;
    margin-bottom: 10px;
 }
 .bienvenido-Wrapper-left{
    width: 440px;
    height: auto;
    max-width: 100%;
 }

 .bienvenido-imageContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px;
    align-items: center;
    
 }
 #scouts-right {
    display: flex;
    flex-wrap: wrap ;
    max-width: 100%;
    max-height: 350px;
    
 }
 /*segundo bloque */
 .bloque-der {

    display: flex;
    flex-flow: row-reverse wrap;
    border:  1px solid #0adb5a;
    margin-bottom: 10px;
    /* padding-left: 20px; */
 }
 footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #622599;    
    font-size: 20px ;
  }

  #imagenAbajo{
    margin:10px auto;
    display:flex;
    
    max-width: none;
    height: 300px;
    width: 1000px;
  }

  #reloj {
    background-color: #0adb5a;
    display: flex;
    justify-content: center;
    /* height: 30px; */
    padding: 25px 10px;
    /* border: 1px solid black;*/
    font: bold 2.5em dotum, "lucida sans", arial;
    text-align: center;
}